:root{
    --blue: #0096FF;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.searchicon, .bell-icon{
    width: 20px;
    height: 20px;
}

.pfp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.bat{
    background-color: rgb(255, 221, 0);
}
.huk{
    background-color: darkred;
}
.flas{
    background-color: rgb(17, 0, 255);
}
.tho{
    background-color: rgb(0, 255, 153);
}

.dashicon{
    width: 40px;
    filter: drop-shadow(0px 100px 0 #ffffff);
    transform: translateY(-100px);
}
.icon{
    width: 20px;
    height: auto;
    filter: drop-shadow(0px 100px 0 #ffffff);
    transform: translateY(-100px);
}
.icon-container{
    overflow: hidden;
}

.bigbat{
    width: 50px;
}

.project-icon{
    width: 20px;
}

body{
    background-color: rgb(186, 190, 190);
}

.main-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
}

.sidebar{
    grid-area: 1/1/4/2;
    color: white;
    font-weight: bolder;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cluster{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.dash, .side{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.dash{
    padding: 10px 10px 0px 10px;
    font-size: x-large;
}

.header{
    grid-area: 1/2/1/4;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 16px 32px;
    gap: 16px;
}
.head{
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    gap: 8px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.hi-text{
    font-size: smaller;
    font-weight: 600;
}
.hi-name{
    font-size: large;
    font-weight: 800;
}
input{
    height: 20px;
    width: 500px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(219, 224, 237);
}
.right{
    display: flex;
    gap: 32px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}
.title-name{
    margin-top: 6px;
}
button{
    width: 90px;
    height: 30px;
    color: white;
    background-color: var(--blue);
    border-style: none;
    border-radius: 30px;
}

.projects{
    grid-area: 2/2/4/3;
    margin-top: 16px;
    margin-left: 16px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 136px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: small;
}
.card-title>h3{
    font-size: medium;
}
.opts{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 20px;
}


.announcements{
    grid-area: 2/3/3/4;
    padding: 16px;
}
.ann-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: smaller;
}
h4{
    font-size: small;
}
hr {
  border: none;
  border-top: 1px solid black; 
  width: 80%; 
}

.trending{
    grid-area: 3/3/4/4;
    margin-left: 16px;
    margin-right: 16px;
}
.trend-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: x-small;
}
.profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
}